@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-primary: #2563eb;
  --color-secondary: #1e40af;
  --color-footer-bg: #111827;
  --color-footer-text: #d1d5db;
}